html,
:root {
    --orange: #E39612;
    --dark-green: #317345;
    --dark-blue: #303459;

    font-size: 18px;
}

.sr-only {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
}